{% extends 'store/base.html' %}
{% block content %}
    <h2>Catalog</h2>
    {% for product in products %}
        <div>
            <h3>{{ product.name }} - {{ product.price }}$</h3>
            <p>{{ product.description }}</p>
            {% if user.is_superuser %}
                <a href="{% url 'delete_product' product.id %}"
                   style="color:red"
                   onclick="return confirm('Are you sure?');">
                    Delete
                </a>
            {% else %}
                <a href="{% url 'product_detail' product.id %}">View</a>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}
